---
import Layout from '../../../layouts/Layout.astro';
import { GestionCategorias } from '../../../components/Admin/GestionCategorias';
---
<Layout title="Categorias | Admin">
  <div class="p-4"><GestionCategorias client:load /></div>
</Layout>