---
import Layout from '../../../layouts/Layout.astro';
import { AdminPanel } from '../../../components/Admin/AdminPanel';
---

<Layout title="Admin Panel | CIMASUR">
  <main class="min-h-screen bg-black">
    <AdminPanel client:load />
  </main>
</Layout>