---
import Layout from '../../../layouts/Layout.astro';
import { GestionBases } from '../../../components/Admin/GestionBases';
---
<Layout title="bases | Admin">
  <div class="p-4"><GestionBases client:load /></div>
</Layout>