---
import Layout from '../../../layouts/Layout.astro';
import { UserAdmin } from '../../../components/Admin/UserAdmin';
---
<Layout title="Usuarios | Admin">
  <div class="p-4"><UserAdmin client:only="react" /></div>
</Layout>