---
import { pwaInfo } from 'virtual:pwa-info';
import { SyncManager } from '../components/SyncManager'; // Importante importar
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Cimasur</title>
    {pwaInfo && <script src="/src/pwa.ts"></script>}
  </head>
  <body class="bg-slate-950 text-slate-50 min-h-screen">
    
    <SyncManager client:load />

    <slot />
  </body>
</html>